@import url('https://fonts.googleapis.com/css2?family=Concert+One&display=swap');

*{
    margin: 0px;
    padding: 0px;
    box-sizing: border-box;
    font-family: 'Concert One', cursive;
}

#form1{
    margin: auto;
    width: 50%;
    
}