<div id="form">
  <h1>LOGIN</h1>
  <b-form id="boxer" @submit.stop.prevent="logme" class="was-validated">

    <b-form-group id="input-group-1" label="USERNAME:" label-for="input-1">
      <b-form-input id="input-info-1" v-model="username" type="text" required placeholder="Enter Username" trim>
      </b-form-input>
      <b-form-invalid-feedback id="input-1-live-feedback">Username is required.</b-form-invalid-feedback>
      <b-form-valid-feedback id="input-1-live-feedback">Looks good.</b-form-valid-feedback>
    </b-form-group>






    <b-form-group id="input-group-2" label="PASSWORD:" label-for="input-2">
      <b-form-input id="input-info-2" type="password" required placeholder="Enter password" v-model="password" trim>
      </b-form-input>
      <b-form-invalid-feedback id="input-1-live-feedback">Password is required.</b-form-invalid-feedback>
      <b-form-valid-feedback id="input-1-live-feedback">Looks Good.</b-form-valid-feedback>
    </b-form-group>

    </b-form-group>

    <b-button id="input-button" type="submit" variant="success">Login</b-button>
    <b-button id="input-button1" variant="danger" @click="go">Cancel</b-button>




  </b-form>
</div>